certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.8
decorator==4.4.2
future==0.18.2
geojson==2.5.0
idna==2.9
pycparser==2.20
pyowm==2.10.0
pyTelegramBotAPI==3.6.7
requests==2.23.0
six==1.14.0
tornado==6.0.4
urllib3==1.25.8
Flask==1.1.1
